{
  "telegram_token": "1704617908:AAEe2TuFeadSrvoL6F7c_o3Q3VbvYyx3BDY",
  "telegram_chat_id": "33263306",
  "moonraker_port": "7125",
  "moonraker_arguments": "print_stats&display_status&extruder=target,temperature&heater_bed=target,temperature",
  "host_system": "192.168.1.219",
  "camera_enabled": false
}